html,
body {
  font-family: "Inconsolata", monospace;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  margin: auto;
}

.song-btn {
  font-size: 2rem;
  border: none;
  background: none;
  color: inherit;
  font-family: "Inconsolata", monospace;
}

.song-btn:hover {
  font-style: italic;
}
